
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->


  <div class="container">
    <div class="row">
      <h2 style="text-align:center">Login to see Your Todo LIST</h2>
      <div style="padding:10px" class="col-lg-8 col-md-10 mx-auto content">

        <div style="padding-bottom:20px">{{ wtf.form_field(form.email) }}</div>
        <div style="padding-bottom:20px">{{ wtf.form_field(form.password) }}</div>
        <div class="btn "style="margin-top:10px">{{ wtf.form_field(form.submit) }}</div>
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}